@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}